:root {
    /*========== Colors ==========*/
    --first-colour: hsl(203, 71%, 60%);
    --second-colour: hsl(277, 56%, 68%);
    --text-colour: hsl(203, 8%, 98%);
    --body-colour: hsl(259, 20%, 18%);
    --btn-colour: hsl(239, 62%, 60%);
    --btn-hover-colour: hsl(239, 72%, 56%);
  
    /*========== Font and typography ==========*/
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    color: var(--text-colour);
    height: 100vh;
    cursor: default;
  }
  
.hero-content {
    max-width: 50%;
}

.hero h1 span {
    font-size: 40px;
    margin-bottom: 20px;

    background: linear-gradient(90deg,
                                var(--second-colour) 0%,
                                var(--first-colour) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h1 {
    display: block;
    font-size: 64px;
    color: var(--text-colour); 
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-buttons {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-explore-2d {
    background-color: var(--btn-colour);
    color: var(--text-colour);
}

.btn-explore-2d:hover {
    background-color: var(--btn-hover-colour);
}

.btn-explore-3d {
    background-color: var(--btn-colour); 
    color: var(--text-colour);
}

.btn-explore-3d:hover {
    background-color: var(--btn-hover-colour);
}

.hero-info p {
    font-size: 16px;
    margin: 5px 0;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
}

.hero-image img {
    max-width: 100%;
}

.hero-stats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: absolute; 
    right: 10%;
}

.stat h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.stat p {
    font-size: 15px;
}
  
.hero-shapes-blur-1, 
.hero-shapes-blur-2, 
.hero-shapes-blur-3 {
    position: absolute;
    border-radius: 50%;
    filter: blur(90px);
    animation: float-blur-shapes 3s ease-in-out infinite;
    pointer-events: none;
}

.hero-shapes-blur-1 {
    width: 150px;
    height: 150px;
    background-color: var(--first-colour);
    top: 10px;
    left: 10px;
  }
  
.hero-shapes-blur-2,
.hero-shapes-blur-3 {
    width: 250px;
    height: 250px;
}

.hero-shapes-blur-2 {
    background-color: var(--first-colour);
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.hero-shapes-blur-3 {
    background-color: var(--second-colour);
    left: 10px;
    bottom: 10px;
}

@keyframes float-blur-shapes {
    0% {
      transform: translateY(.5rem);
    }
  
    50% {
      transform: translateY(4rem);
    }
  
    100% {
      transform: translateY(.5rem);
    }
}