:root {
    /*========== Colors ==========*/
    --white-colour: hsl(0, 100%, 100%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
}

.logo-image {
    max-width: 35px; 
    height: auto;
}

.navbar a {
    position: relative;
    margin-left: 40px;
  }
  
.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--white-colour);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%
}

.navbar .active::before {
    width: 100%; 
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .logo{
        display: none;
    }

    /* hamburger nav for future */
}