.ThreeDEnv {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
.threed-canvas-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
}